services:
  openwebui:
    image: ghcr.io/open-webui/open-webui:main
    environment:
      - VIRTUAL_HOST="webui.gchalakov.com"
      - LETSENCRYPT_HOST="webui.gchalakov.com"
    networks:
      - net
    volumes:
      - open-webui:/app/backend/data
volumes:
  open-webui:

networks:
  net:
    external: true

